<div class="history">
  <h4 class="history-header">Histórico</h4>

  <div class="button">
    <button class="btn btn-success" (click)="newMessage()">Nova mensagem</button>
  </div>

  <div class="divider received">
    <h6 class="divider-header">Recebidas</h6>
    <div
      class="history-item"
      *ngFor="let messageObj of messageObjs?.received"
      [class.selected]="messageObj?.id === messageObjSelected?.id"
      (click)="onMessageObjSelected(messageObj)">
      {{messageObj.message}}
    </div>
  </div>
  <div class="divider sent">
    <h6 class="divider-header">Enviadas</h6>
    <div
      class="history-item"
      *ngFor="let messageObj of messageObjs?.sent"
      [class.selected]="messageObj?.id === messageObjSelected?.id"
      (click)="onMessageObjSelected(messageObj)">
      {{messageObj.message}}
    </div>
  </div>
</div>
