<div class="history">
  <h4 class="history-header">Histórico</h4>

  <div class="button">
    <button class="btn btn-success" (click)="newMessage()">Nova mensagem</button>
  </div>

  <h6 class="divider-header">Recebidas</h6>
  <div class="divider received">
    <div
      class="history-item"
      *ngFor="let messageObj of messageObjs?.received"
      [class.selected]="messageObj?.id === messageObjSelected?.id"
      (click)="onMessageObjSelected(messageObj)">
      {{messageObj.message}}
    </div>
  </div>

  <h6 class="divider-header">Enviadas</h6>
  <div class="divider sent">
    <div
      class="history-item"
      *ngFor="let messageObj of messageObjs?.sent"
      [class.selected]="messageObj?.id === messageObjSelected?.id"
      (click)="onMessageObjSelected(messageObj)">
      {{messageObj.message}}
    </div>
  </div>

  <a class="git-logo" href="https://github.com/Francislad/line-code" target="_blank">
    <img class="logo" src="assets/github-logo.png">
  </a>
</div>
